@model IEnumerable<Business.Entities.Curso>

    <h2 class="mb-3 text-center">Cursos</h2>

    <a class="btn btn-outline-success mb-2" asp-action="Create">Agregar</a>
    <a class="btn btn-outline-dark ms-2 mb-2 justify-content-md-start" asp-controller="Curso" asp-action="DescargarPDF">Descargar como PDF</a>

<ul class="list-group">
    @foreach  (Business.Entities.Curso cur in Model)
            {
                <div class="card mb-2">
                    <div class="card-body">
                        <h5 class="card-title">@cur.Descripcion</h5>
                        <h6 class="card-subtitle mb-2 text-muted">
                            Año Calendario: @cur.AnoCalendario -
                            Cupo: @cur.Cupo

                        </h6>
                        <p class="card-text">Materia: @cur.Materia.Descripcion </p>
                        <p class="card-text">Comision: @cur.Comision.Descripcion </p>
                        <a class="btn btn-primary" asp-area="" asp-action="Edit" asp-route-id="@cur.ID">Editar</a>
                        <a class="btn btn-danger" asp-area="" asp-action="Delete" asp-route-id="@cur.ID">Eliminar</a>
                    </div>
                </div>
            }
</ul>