@model CreateAlumnoInscripcionViewModel

    <h2 class="mb-3 text-center">Inscribir alumno</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="alert alert-danger alert-dismissible fade show">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <div class="mb-3">
                <label class="form-label">Ingrese Legajo</label>
                <input maxlength="20" minlength="3" id="legajo" name="legajo" class="form-control" onfocusout='buscaPersona();' />
                <span id='message'></span>
            </div>

            <div class="mb-3" id="partialAlumnoInscripcion" name="partialAlumnoInscripcion">

            </div>
            <select disabled class="form-select mb-3" id="cursos" asp-for="AlumnoInscripcion.IDCurso" asp-items="Model.Cursos"></select>
            <div class="mb-3" hidden>
                <label asp-for="Condicion" class="form-label">Condicion</label>
                <input disabled asp-for="Condicion" class="form-control" placeholder="@Model.Condicion" value="@Model.Condicion" />
                <span asp-validation-for="Condicion" class="text-danger"></span>
            </div>
            <div class="mb-3" hidden>
                <label asp-for="Nota" class="form-label">Nota</label>
                <input disabled asp-for="Nota" class="form-control" placeholder="@Model.Nota" value="@Model.Nota" />
                <span asp-validation-for="Nota" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <button disabled type="submit" class="btn btn-primary" id="botonCrear">Crear</button>
                <a class="btn btn-danger" asp-action="Index">Cancelar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
    var buscaPersona = function () {

        $.ajax(
            {
                type: 'POST',
                url: '@Url.Action("GetPersona", "AlumnoInscripcion")',
                data: { legajo: document.getElementById('legajo').value },
                success: function (data) {
                    $("#partialAlumnoInscripcion").html(data);
                    $("#partialDocenteCurso").fadeOut();
                    if ($("#partialAlumnoInscripcion").is(":hidden")) {
                        $("#partialAlumnoInscripcion").fadeIn();
                    }
                    document.getElementById('cursos').removeAttribute("disabled");
                    document.getElementById('botonCrear').removeAttribute("disabled");
                },
                error: function (data)
                {
                    document.getElementById('cursos').setAttribute("disabled", "");
                    document.getElementById('botonCrear').setAttribute("disabled", "");
                    alert('El legajo ingresado no corresponde a un Alumno');
                    if ($("#partialAlumnoInscripcion").is(":visible")) {
                        $("#partialAlumnoInscripcion").fadeOut();
                    }
                    $("#partialAlumnoInscripcion").promise().html(null);
                }
            });
    };
    </script>
    
    }