@model IEnumerable<Business.Entities.DocenteCurso>

    <a class="btn btn-outline-success mb-2" asp-action="Create">Agregar</a>

<ul class="list-group">
    @foreach  (Business.Entities.DocenteCurso dc in Model)
            {
                <div class="card mb-2">
                    <div class="card-body">
                        <h5 class="card-title">Cargo : @dc.Cargo</h5>
                        <h5 class="card-title">ID Docente: @dc.IDDocente</h5>
                        <p class="card-text">Curso: @dc.Curso.Descripcion</p>
                        @if (dc.Persona != null)
                        {
                            <p class="card-text">Legajo: @dc.Persona.Legajo</p>
                            <p class="card-text">Nombre: @dc.Persona.Nombre</p>
                            <p class="card-text">Legajo: @dc.Persona.Apellido</p>
                        }

                        <a class="btn btn-primary" asp-area="" asp-action="Edit" asp-route-id="@dc.ID">Editar</a>
                        <a class="btn btn-danger" asp-area="" asp-action="Delete" asp-route-id="@dc.ID">Eliminar</a>
                    </div>
                </div>
            }
</ul>