@model Business.Entities.Usuario

    <h2 class="mb-3 text-center">Editar usuario</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="ID" type="hidden" />
            <input asp-for="IDPersona" type="hidden" />
            <div class="mb-3">
                <label asp-for="NombreUsuario" class="form-label">Nombre Usuario</label>
                <input maxlength="20" minlength="3" asp-for="NombreUsuario" class="form-control" placeholder="@Model.NombreUsuario" value="@Model.NombreUsuario" />
            </div>
            <div class="mb-3">
                <label asp-for="Persona.Nombre" class="form-label">Nombre</label>
                <input disabled asp-for="Persona.Nombre" class="form-control" placeholder="@Model.Persona.Nombre" value="@Model.Persona.Nombre" />
            </div>
            <div class="mb-3">
                <label asp-for="Persona.Apellido" class="form-label">Nombre</label>
                <input disabled asp-for="Persona.Apellido" class="form-control" placeholder="@Model.Persona.Apellido" value="@Model.Persona.Apellido" />
            </div>

            <div class="mb-3">
                <label asp-for="Clave" class="form-label">Clave</label>
                <input maxlength="20" asp-for="Clave" class="form-control" id="password" type="password" onkeyup='check();'/>
                <span asp-validation-for="Clave" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label class="form-label">Confirmar Clave</label>
                <input maxlength="20" class="form-control"  id="confirm_password" name="confirm_password" type="password" onkeyup='check();' />
                <span id='message'></span>
            </div>

            <div class="mb-3">
                <label class="form-label">Usuario Habilitado</label>
                <input type="checkbox" asp-for="Habilitado"></input>
            </div>

            <div class="mb-3">
                <button disabled type="submit" class="btn btn-primary" id="btn_guardar">Guardar</button>
                <a class="btn btn-danger" asp-action="Index">Cancelar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        var check = function () {
            if (document.getElementById('password').value ==
                document.getElementById('confirm_password').value) {
                document.getElementById('message').style.color = 'green';
                document.getElementById('message').innerHTML = 'matching';
                document.getElementById('btn_guardar').disabled = false;
            } else {
                document.getElementById('message').style.color = 'red';
                document.getElementById('message').innerHTML = 'not matching';
                document.getElementById('btn_guardar').disabled = true;
            }
        }
    </script>
}