@model EditPersonaViewModel

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Persona.ID" type="hidden" />
            <div class="form-group">
                <label asp-for="Persona.Legajo" class="form-label">Legajo</label>
                <input class="form-control" placeholder="@Model.Persona.Legajo" value="@Model.Persona.Legajo" />
                <span asp-validation-for="Persona.Legajo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Persona.Nombre" class="form-label">Nombre</label>
                <input class="form-control" placeholder="@Model.Persona.Nombre" value="@Model.Persona.Nombre" />
                <span asp-validation-for="Persona.Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Persona.Apellido" class="form-label">Apellido</label>
                <input class="form-control" placeholder="@Model.Persona.Apellido" value="@Model.Persona.Apellido" />
                <span asp-validation-for="Persona.Apellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Persona.Direccion" class="form-label">Direccion</label>
                <input class="form-control" placeholder="@Model.Persona.Direccion" value="@Model.Persona.Direccion" />
                <span asp-validation-for="Persona.Direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Persona.Email" class="form-label">Email</label>
                <input class="form-control" placeholder="@Model.Persona.Email" value="@Model.Persona.Email" />
                <span asp-validation-for="Persona.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Persona.Telefono" class="form-label">Telefono</label>
                <input class="form-control" placeholder="@Model.Persona.Telefono" value="@Model.Persona.Telefono" />
                <span asp-validation-for="Persona.Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Persona.FechaNacimiento" class="form-label">Fecha de Nacimiento</label>
                <input class="form-control" placeholder="@Model.Persona.FechaNacimiento" value="@Model.Persona.FechaNacimiento" />
                <span asp-validation-for="Persona.FechaNacimiento" class="text-danger"></span>
            </div>
            <select class="form-group" asp-for="Persona.IDPlan" asp-items="Model.Planes"></select>
            <select class="form-group" asp-for="Persona.TipoPersona" asp-items="Model.TiposPersona"></select>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Guardar</button>
                <a class="btn btn-danger" asp-action="Index">Cancelar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}